@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/Montserrat-Medium.ttf') format('.ttf');
    }
    @font-face {
        font-family: 'Montserrat-bold';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/Montserrat-SemiBold.ttf') format('.ttf');
    }
}

input {
    @apply bg-sc-form-back text-sc-gray-text rounded-12 h-40 pl-15;
}
.form-span {
    @apply text-sc-gray-text mb-8;
}
.form-div {
    @apply flex flex-col mt-16 ml-8 mr-8;
}
.button {
    @apply bg-sc-yellow mt-20 rounded-full;
}
.checkbox {
    @apply flex flex-row bg-white mt-3;
}
.check-input {
    @apply  bg-sc-check ml-117;
}
