@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/Montserrat-Medium.ttf') format('.ttf');
    }
    @font-face {
        font-family: 'Montserrat-bold';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/Montserrat-SemiBold.ttf') format('.ttf');
    }
}

input {
    @apply bg-sc-form-back text-sc-gray-text rounded-[12px] h-[40px] pl-[15px];
}
.form-span {
    @apply text-sc-gray-text mb-[8px];
}
.form-div {
    @apply flex flex-col mt-[16px] ml-[8px] mr-[8px];
}
.button {
    @apply bg-sc-yellow mt-[20px] rounded-[20px] w-[328px] h-[64px] text-black font-MontserratBold;
}
.checkbox {
    @apply flex flex-row bg-white mt-[19.26px] ml-[24px];
}
.exist {
    @apply flex flex-row ml-[99px] mt-[16px];
}

